@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
html,
body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
}

#app {
  height: 400px;
  width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.ql-font-arial {
  font-family: 'Arial';
}

.ql-font-times-new-roman {
  font-family: 'Times New Roman';
}
